// src/components/MovieCard/MovieCard.scss

.movie-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  .card-img-top {
    height: 400px;
    object-fit: cover;
  }

  .card-body {
    background-color: #221f1f;
  }

  .card-title {
    font-size: 1.25rem;
    color: #ffffff;
  }

  .btn-primary {
    background-color: #e50914;
    border-color: #e50914;
    &:hover {
      background-color: darken(#e50914, 10%);
      border-color: darken(#e50914, 10%);
    }
  }
}
